<html ng-app="RockID"> 
<body ng-controller="RockCtrl">
  
  <div class="mt-5 container-fluid text-center">
    <div class="page-header">
      <h1>Rock ID</h1> 
    </div>
    <div>
      <p>{{rockType}}</p>
      <p>{{sedComp}}</p>
      <p>{{texture}}</p>
      <p>{{composition}}</p>
      <p><strong>{{rockName}}</strong></p>
      <a ng-href="{{url}}" target="_blank">{{url}} </a>
    </div>
    <div class="btn-group-vertical">  
      <button type="button" class="btn btn-vanilla" ng-click='itemClick(item)' ng-repeat="item in items">{{item}}</button>
    </div>
    <div>
      <button type="button" class="btn btn-danger mt-4 mb-4 " ng-click='reset()'>reset</button>
    </div>
  </div> 
</body>
</html>